<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamsfactory.dutiesmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.UserLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FlatLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NewTaskActivity"
            android:label="@string/title_activity_new_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FriendTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FreeTaskActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.UserRegisterActivity" />
        <activity android:name=".activities.FlatRegisterActivity"></activity>
    </application>

</manifest>